# Keep these files out of the repo
/wp-content/themes/twenty*
/wp-content/upgrade
/wp-content/uploads
/wp-content/logs
/sitemap.*
wp-config.php
# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
sftp-config.json